In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from math import ceil

carID An attribute that contains an identifier for each car. <br>
Brand The car’s main brand (e.g. Ford, Toyota) <br>
model The car model <br>
year The year of Registration of the Car <br>
mileage The total reported distance travelled by the car (in
miles) <br>
tax The amount of road tax (in £) that, in 2020, was
applicable to the car in question. <br>
fuelType Type of Fuel used by the car (Diesel, Petrol, Hybrid,
Electric) <br>
mpg Average Miles per Gallon <br>
engineSize Size of Engine in liters (Cubic Decimeters) <br>
paintQuality%
The mechanic’s assessment of the cars’ overall paint 
quality and hull integrity (filled by the mechanic
during evaluation). <br>
previousOwners Number of previous registered owners of the vehicle. <br>
hasDamage 
Boolean marker filled by the seller at the time of
registration stating whether the car is damaged or
not. <br>
price The car’s price when purchased by Cars 4 You (in £).

In [2]:
cars = pd.read_csv('project_data/train.csv')
cars.head()

,carID,Brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
0,69512,VW,Golf,2016.0,22290,Semi-Auto,28421.0,Petrol,NaN,11.417268,2.0,63.0,4.000000,0.0
1,53000,Toyota,Yaris,2019.0,13790,Manual,4589.0,Petrol,145.0,47.900000,1.5,50.0,1.000000,0.0
2,6366,Audi,Q2,2019.0,24990,Semi-Auto,3624.0,Petrol,145.0,40.900000,1.5,56.0,4.000000,0.0
3,29021,Ford,FIESTA,2018.0,12500,anual,9102.0,Petrol,145.0,65.700000,1.0,50.0,-2.340306,0.0
4,10062,BMW,2 Series,2019.0,22995,Manual,1000.0,Petrol,145.0,42.800000,1.5,97.0,3.000000,0.0

In [3]:
cars.shape

(75973, 14)

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75973 entries, 0 to 75972
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   carID           75973 non-null  int64
 1   Brand           74452 non-null  object
 2   model           74456 non-null  object
 3   year            74482 non-null  float64
 4   price           75973 non-null  int64
 5   transmission    74451 non-null  object
 6   mileage         74510 non-null  float64
 7   fuelType        74462 non-null  object
 8   tax             68069 non-null  float64
 9   mpg             68047 non-null  float64
 10  engineSize      74457 non-null  float64
 11  paintQuality%   74449 non-null  float64
 12  previousOwners  74423 non-null  float64
 13  hasDamage       74425 non-null  float64
dtypes: float64(8), int64(2), object(4)
memory usage: 8.1+ MB

In [5]:
cars.describe().T

,count,mean,std,min,25%,50%,75%,max
carID,75973.0,37986.000000,21931.660338,0.000000,18993.00,37986.0,56979.0,75972.000000
year,74482.0,2017.096611,2.208704,1970.000000,2016.00,2017.0,2019.0,2024.121759
price,75973.0,16881.889553,9736.926322,450.000000,10200.00,14699.0,20950.0,159999.000000
mileage,74510.0,23004.184088,22129.788366,-58540.574478,7423.25,17300.0,32427.5,323000.000000
tax,68069.0,120.329078,65.521176,-91.121630,125.00,145.0,145.0,580.000000
mpg,68047.0,55.152666,16.497837,-43.421768,46.30,54.3,62.8,470.800000
engineSize,74457.0,1.660136,0.573462,-0.103493,1.20,1.6,2.0,6.600000
paintQuality%,74449.0,64.590667,21.021065,1.638913,47.00,65.0,82.0,125.594308
previousOwners,74423.0,1.994580,1.472981,-2.345650,1.00,2.0,3.0,6.258371
hasDamage,74425.0,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.000000

In [6]:
cars.isna().sum()

carID                0
Brand             1521
model             1517
year              1491
price                0
transmission      1522
mileage           1463
fuelType          1511
tax               7904
mpg               7926
engineSize        1516
paintQuality%     1524
previousOwners    1550
hasDamage         1548
dtype: int64

In [9]:
cars.duplicated().sum()

np.int64(0)